<!DOCTYPE html>
<html>
    <head>
        <style>
            /* CSS styles for image layout */
            .image-container {
                display: flex;
                flex-wrap: wrap;
                
            }
    
            .image-container img {
                width: 25%;
                height: auto;
                margin: 0 10px;
            }
        </style>
    </head>
    <body>
        <div class="image-container">
            <img src="../../dist/img/id.PNG">
            <img src="../../dist/img/id.PNG">
            <img src="../../dist/img/id.PNG">
            <img src="../../dist/img/id.PNG">
            <img src="../../dist/img/id.PNG">
        </div>
    </body>
</html>